<div class="container-fluid m-0 p-0 fondo_negro">
  <div class="encabezado">
  <h4 class="titulos">Experiencia
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
         class="mx-2 bi bi-person-workspace svg_ my-auto" viewBox="0 0 16 16">
      <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
      <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
    </svg>
  </h4>
  <div *ngIf="isLogger" >
    <div class="boton_editar btn_agregar" title="Agregar nueva experiencia laboral">

      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle lapiz" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg></div>
  </div>
</div>
<div class="body">
    <div class="contenedor_experiencia" *ngFor="let item of experiencias">
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xl-2 col-lg-2" style="justify-content: center; display: flex">
            <div class="imgEx">
              <img class="img_radius" src="assets/images/freyre-removebg-preview(2).png">
            </div>
          </div>
          <div class="col-md-9 col-sm-12 col-xl-10 col-lg-10">
            <p><span class="letras_naranjas text-center p-1">{{item.empresa}}</span></p>
            <p>{{item.puesto}}</p>
            <p>{{item.inicio}}</p>
            <p>{{item.fin}}</p>
            <p>{{item.funciones}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
