<div class="container-fluid m-0 p-0 fondo_negro">
  <h4 class="titulos mb-5">Educación
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="svg_ mx-2 bi bi-book my-auto"
         viewBox="0 0 16 16">
      <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg>
  </h4>
  <div class="misEstudios pb-5">
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-5" src="assets/images/fasta.png" width="80" height="80">
            <div class="col-7">
              <h6 class=" text-center nombre_institucion mx-0 px-0">F.A.S.T.A. INMACULADA CONCEPCION</h6>
              <h6 class="text-center datos_inst p-0 m-0">Bv. Roque Sáenz Peña 1151</h6>
              <h6 class="text-center datos_inst p-0 m-0">San Francisco, Córdoba</h6>
              <h6 class="text-center datos_inst p-0 m-0"> (03564) 42-4556</h6>
            </div>
          </div>
          <hr>
          <p class="card-text mb-0">Título: TÉCNICO SUPERIOR EN TRABAJO SOCIAL</p>
          <p class=" p-0 m-0">Duración: 4 años</p>
          <p class=" p-0 m-0"> Año: 2013</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-5" src="assets/images/unvm-removebg-preview.png" width="80" height="90">
            <div class="col-7">
              <h6 class="text-center nombre_institucion mx-0 px-0">UNIVERSIDAD NACIONAL DE VILLA
                MARÍA</h6>
              <h6 class="text-center datos_inst p-0 m-0">A. Jauretche 1555</h6>
              <h6 class="text-center datos_inst p-0 m-0">Villa María, Córdoba</h6>
              <h6 class="text-center datos_inst p-0 m-0"> (0353) 4539103</h6>
            </div>
          </div>
          <hr>
          <p class="card-text mb-0">Título: LICENCIADA EN TRABAJO SOCIAL</p>
          <p class="p-0 m-0">Duración: 2 años</p>
          <p class="p-0 m-0"> Año: 2018</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-4" src="assets/images/logo_unc_small.jpg" width="120" height="80">
            <div class="col-8">
              <h6 class="text-center nombre_institucion mx-0 px-0">UNIVERSIDAD NACIONAL DE CĆRDOBA</h6>
              <h6 class="text-center datos_inst p-0 m-0"> Avenida Valparaíso s/n</h6>
              <h6 class="text-center datos_inst p-0 m-0">Córdoba, Córdoba</h6>
              <h6 class="text-center datos_inst p-0 m-0"> (03564) 42-4556</h6>
            </div>
          </div>
          <hr>
          <p class="card-text mb-0">Seminario: La intervención profesional en consejería de salud sexual y
            reproductiva</p>
          <p class="p-0 m-0">Duración: 6 meses</p>
          <p class="p-0 m-0"> Año: 2018</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-4" src="assets/images/logo_unc_small.jpg" width="120" height="80">
            <div class="col-8">
              <h6 class="text-center nombre_institucion mx-0 px-0">UNIVERSIDAD NACIONAL DE CĆRDOBA</h6>
              <h6 class="text-center datos_inst p-0 m-0"> Avenida Valparaíso s/n</h6>
              <h6 class="text-center datos_inst p-0 m-0">Córdoba, Córdoba</h6>
              <h6 class="text-center datos_inst p-0 m-0"> (03564) 42-4556</h6>
            </div>
          </div>
          <hr>
          <p class="card-text mb-0">Curso de postgrado: Construyendo aportes desde las Prácticas Profesionales
            de T.S. en el campo de la Salud Pública</p>
          <p class="p-0 m-0">Duración: 6 meses</p>
          <p class="p-0 m-0"> Año: 2018</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-4" src="assets/images/udemy-3.svg" width="80" height="80">
            <div class="col-8 m-auto">
              <h6 class="text-center nombre_institucion mx-0 px-0">UDEMY</h6>
              <h6 class="text-center p-0 m-0">www.udemy.com</h6>

            </div>
          </div>
          <hr>
          <p class="mb-0">Curso: Vue.js 3</p>
          <p class="mb-0">Istructor: Ignacio bluuweb</p>
          <p class="p-0 m-0">Duración: 43 horas</p>
          <p class="p-0 m-0">Año: 2022</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-4" src="assets/images/udemy-3.svg" width="80" height="80">
            <div class="col-8 m-auto">
              <h6 class="text-center nombre_institucion mx-0 px-0">UDEMY</h6>
              <h6 class="text-center p-0 m-0">www.udemy.com</h6>

            </div>
          </div>
          <hr>
          <p class="mb-0">Curso: JavaScript Moderno Guía Definitiva Construye +15 Proyectos</p>
          <p class="mb-0">Instructor: Juan Pablo De la torre Valdez</p>
          <p class="p-0 m-0">Duración: 46.5 horas</p>
          <p class="p-0 m-0">Año: 2022</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-4" src="assets/images/LOGO_ARGPROG-removebg-preview.png" width="100" height="100">
            <div class="col-8 m-auto">
              <h6 class="text-center nombre_institucion mx-0 px-0 mb-0">MINISTERIO DE DESARROLLO
                PRODUCTIVO</h6>
              <h6 class="text-center datos_inst p-0 m-0">INTI</h6>
              <h6 class="text-center datos_inst p-0 m-0">SECCI ARGENTINA</h6>
            </div>
          </div>
          <hr>
          <p class="mb-0">Primera etapa del plan Progarma Argentina: #SéProgramar</p>
          <p class="p-0 m-0">Duración: 60 horas</p>
          <p class="p-0 m-0">Año: 2022</p>
        </div>
      </div>
    </div>
    <div class="mb-3 card_estudios">
      <div class="row g-0 contenido-card">
        <div class="card-body">
          <div class="row">
            <img class="col-4" src="assets/images/udemy-3.svg" width="80" height="80">
            <div class="col-8 m-auto">
              <h6 class="text-center nombre_institucion mx-0 px-0">UDEMY</h6>
              <h6 class="text-center p-0 m-0">www.udemy.com</h6>
            </div>
          </div>
          <hr>
          <p class="mb-0">Curso: Bootstrap 5 desde cero + HTML, CSS, Flexbox, Sass, GIT, JS!</p>
          <p class="p-0 m-0">Duración: 6 meses</p>
          <p class="p-0 m-0">Año: 2022</p>
        </div>
      </div>
    </div>
  </div>
</div>
