
ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}

.nav li li a {
  color:white;
  background: black;
  text-decoration:none;
  padding:10px 12px;
  display:block;
  border-radius: 5px;
  border: 1px solid gray ;
}
.nav li a {
  color:white;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}
#header{
  position: absolute;
  right: -1px;
}
.btn_agregar{
  margin-right: 350px;
}
.encabezado{
  display: flex;
  justify-content: space-between;
}
