<div class="container-fluid m-0 p-0 fondo_negro">
  <div class="row perfil py-5">
    <div class="col-xs-12 col-md-6 contenedorFoto px-xl-5">
      <img class="foto_perfil img-fluid" src="assets/images/yanina-removebg-preview.png">
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="descripcion_perfil">
        <h4 class="aboutme">Acerca de mí</h4>
        <h1>Yanina Haspert</h1>
        <p>Como Full Stack Developer cuento con una faceta integral
          y tengo conocimientos y herramientas que me permiten afrontar cualquiera de las etapas de un
          proyecto web.
          <br>
          Me apasiona el Desarrollado Frontend. Aca me siento responsable de la interacción directa del
          usuario,
          por lo que mi desarrollo es enfocado al lado más visual de las aplicaciones, como el
          cuidado de colores, botones, enlaces, menús y todo lo que vemos en una página
          cuando estamos accediendo. Precisamente, como profesional frontend considero que tengo un ojo
          constante para la mejor experiencia de usuario
        </p>
        <button type="button" class="boton_contactarme">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="mx-2 bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
          Descargar CV
        </button>
      </div>
    </div>
  </div>
</div>
