<div class="container my-5">
  <form #form="ngForm" (submit)="create()" #deshabilitar_boton="ngForm">
    <p class="boton"> AGREGÁ TU INFORMACIÓN PERSONAL</p>
    <div class="formulario mx-5 px-5">
      <div class="form-group">
        <label>NOMBRE Y APELLIDO*</label>
        <input type="text" class="form-control my-3" [(ngModel)]="acercademi.nombre" name="nombre"
               placeholder="Ingresá tu nombre y apellido" required
               #nombre="ngModel">
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
             class="alerta">
          <div class="alerta" *ngIf="nombre.errors?.['required']">
            Campo obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>PROFESIÓN*</label>
        <input type="text" class="form-control my-3" placeholder="Ingresá tu profesión" required [(ngModel)]="acercademi.profesion"
               name="profesion"  #profesion="ngModel">
        <div *ngIf="profesion.invalid && (profesion.dirty || profesion.touched)"
             class="alerta">
          <div class="alerta" *ngIf="profesion.errors?.['required']">
            Campo obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group">
          <label>DESCRIPCIÓN CORTA*</label>
          <input type="text" class="form-control my-3" placeholder="Ingresá una descripcion corta sobre tus habilidades" required maxlength="200" [(ngModel)]="acercademi.descripcionBreve"
                 name="descripcion_breve"  #descripcion_breve="ngModel">
          <div *ngIf="descripcion_breve.invalid && (descripcion_breve.dirty || descripcion_breve.touched)"
               class="alerta">
            <div class="alerta" *ngIf="descripcion_breve.errors?.['required']">
              Campo obligatorio.
            </div>
            <div *ngIf="descripcion_breve.errors?.['maxlength']">
              Descripción demasiado larga.
            </div>
          </div>
        </div>

      <div class="form-group">
        <label>URL FOTO DE PRESENTACIÓN (BANNER)*</label>
        <input type="url" class="form-control my-3" placeholder="Ingresá la URL de la imagen/foto para el banner de presentación" required [(ngModel)]="acercademi.urlImagenPresentacion"
               name="fotoBanner"  #fotoBanner="ngModel">
        <div *ngIf="fotoBanner.invalid && (fotoBanner.dirty || fotoBanner.touched)"
             class="alerta">
          <div class="alerta" *ngIf="fotoBanner.errors?.['required']">
            Campo obligatorio.
          </div>
        </div>
      </div>

        <div>
          <label>DESCRIPCIÓN COMPLETA*</label>
          <textarea type="text" class="form-control my-3" name="descripcionCompleta"
         placeholder="Ingresá una descripcion sobre tu perfil" [(ngModel)]="acercademi.descripcionCompleta"
                    required minlength="10" #descripcionCompleta="ngModel">>
            </textarea>
          <div *ngIf="descripcionCompleta.invalid && (descripcionCompleta.dirty || descripcionCompleta.touched)"
               class="alerta">
            <div class="alerta" *ngIf="descripcionCompleta.errors?.['required']">
              Campo obligatorio.
            </div>
            <div *ngIf="descripcionCompleta.errors?.['minlength']">
              Descripción demasiado corta.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>URL FOTO DE PERFIL*</label>
          <input type="url" class="form-control my-3" placeholder="Ingresá la URL de la foto de tu perfil" required [(ngModel)]="acercademi.urlFoto"
                 name="foto"  #foto="ngModel">
          <div *ngIf="foto.invalid && (foto.dirty || foto.touched)"
               class="alerta">
            <div class="alerta" *ngIf="foto.errors?.['required']">
              Campo obligatorio.
            </div>
          </div>
        </div>

      <div class="boton">
        <button type="submit" class="btn btn-primary my-3 enviar" [disabled]="!deshabilitar_boton.form.valid">ENVIAR</button>
      </div>
      <button type="submit" class="btn btn-primary my-3 volver" [routerLink]="['/administrar']"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-skip-backward mx-2" viewBox="0 0 16 16">
        <path d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z"/>
      </svg>VOLVER
      </button>

    </div>
  </form>
</div>
