<div class="container-fluid m-0 p-0 fondo_negro">
  <h4 class="titulos">Experiencia
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
         class="mx-2 bi bi-person-workspace svg_ my-auto" viewBox="0 0 16 16">
      <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
      <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
    </svg>
  </h4>
  <div class="body">
    <div class="contenedor_experiencia">
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xl-2 col-lg-2" style="justify-content: center; display: flex">
            <div class="imgEx">
              <img class="img_radius" src="assets/images/freyre-removebg-preview(2).png">
            </div>
          </div>
          <div class="col-md-9 col-sm-12 col-xl-10 col-lg-10">
            <h6><span class="letras_naranjas text-center p-1">MUNICIPALIDAD DE FREYRE</span></h6>
            <p>Dirección: Av. Belgrano, Freyre, Córdoba </p>
            <p>Teléfono: (03564) 46-1002</p>
            <p> Cargo: Trabajadora social en el área de acción social</p>
            <p> Duración:2 años (2016/2017)</p>
            <p> Funciones: Orientar, tramitar y dar seguimeinto a pensiones por vejez e invalidez. Elaborar
              y ejecutar
              proyectos de intervención para grupos de población en situaciones de riesgo social
              y de carencia de aplicación de los derechos humanos.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xl-2 col-lg-2" style="justify-content: center; display: flex">
            <div class="imgEx">
              <img class="img_radius" src="assets/images/arriyito-removebg-preview.png">
            </div>
          </div>
          <div class="col-md-9 col-sm-12 col-xl-10 col-lg-10">
            <h6><span class="letras_naranjas text-center p-1">HOSPITAL "CARLOS J. RODRIGUEZ"</span></h6>
            Dirección: Av. Carlos Pontín 750, Arroyito, Córdoba
            <p>Teléfono: (03576) 421888</p>
            <p> Cargo: Trabajadora social en el área de acción social</p>
            <p> Duración:2 años (2018/2020)</p>
            <p> Funciones: Asesoramiento sobre las ayudas que le corresponde a una persona según su
              situación
              social. Gestión de las ayudas económicas que existan en dicho organismo.
              Seguimiento sobre aquellos casos que lo requieran. Detección de problemas o
              carencias de los usuarios que asistan al hospital./p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xl-2 col-lg-2" style="justify-content: center; display: flex">
            <div class="imgEx">
              <img class="img_radius" src="assets/images/lacopisteria.jpg">
            </div>
          </div>
          <div class="col-md-9 col-sm-12 col-xl-10 col-lg-10">
            <h6><span class="letras_naranjas text-center p-1">IMPRENTA: LA COPISTERÍA</span></h6>
            Dirección: Colón esq Iturraspe, San Francisco, Córdoba
            <p>Teléfono: (03564) 423897</p>
            <p> Cargo: Cadette y atencion al público</p>
            <p> Duración:2 años (2016/2028)</p>
            <p> Funciones: atencion al público, realizado de impresiones, flyers, etiquetas, tarjetas,
              folletos, impresos fiscales, anillados, entre otros. </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xl-2 col-lg-2" style="justify-content: center; display: flex">
            <div class="imgEx">
              <img class="img_radius" src="assets/images/images.jpg">
            </div>
          </div>
          <div class="col-md-9 col-sm-12 col-xl-10 col-lg-10">
            <h6><span class="letras_naranjas text-center p-1">TRABAJO FREELANCE</span></h6>
            <p> Duración:6 meses hasta la actualidad</p>
            <p> Funciones: Maquetado y diseño de paginas web (Frontend). Manejo de
              Html5,
              Ccs3, Flexbox, Css Grid Javascript,Responsive Web Design
              Web Development based on Web
              UX/UI – User Experience - User Interface
              Framework: Bootstrap 5
              Version control: Git/GitHub
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
