<div class="login-page">
  <div class="form">
    <form #f="ngForm" (ngSubmit)="onLogin()" class="login-form" novalidate>
  <div>
  <label class="form-label" for="nombreUsuario">Usuario </label>
      <input id="nombreUsuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" type="email" placeholder="Username"  class="mb-0 mt-3" required/>
      <div *ngIf="email?.errors && email?.touched">
        <p *ngIf="email?.hasError('required')" class="text-danger mensaje">
          El email es requerido.
        </p>
      </div>
  </div>
      <div>
        <label class="form-label" for="password">Usuario </label>
      <input id="password" [(ngModel)]="password"  name="password" type="password" placeholder="Password"
             class="mb-0 mt-3"
             [ngClass]="{'is-invalid': contrasena?.errors && contrasena?.touched, 'is-valid': !contrasena?.errors&& contrasena?.touched}" required/>
      <div *ngIf="contrasena?.errors && contrasena?.touched">
        <p *ngIf="contrasena?.hasError('required')" class="text-danger mensaje">
          La contraseña es requerida.
        </p>
        <p *ngIf="contrasena?.errors?.minLength" class="text-danger mensaje">
          La contraseña debe ser de 8 o más caracteres.
        </p>
      </div>
      </div>
      <button type="submit" style="background:#9FD4CA" class="login mb-0 mt-3">Login</button>
    </form>
  </div>
  <div>
    <p>Todavia no tienes una cuenta?
      <a>Registrate</a>
    </p>
  </div>
</div>

