<div class="container-fluid m-0 p-0 bg_banner">
  <div class="row pt-5 banner_fila">
    <div class="col-xs-12 col-sm-6 banner">
      <div class="descripcion_banner">
        <h1>Hola, soy <span class="nombre">Yanina Haspert</span></h1>
        <h4>Full Stack</h4>
        <p>Profesional que cuenta con diversas habildades informáticas, y que puede desenvolverse en el
          frontend y en el backend de un desarrollo web.</p>
        <button type="button" class=" boton_contactarme" [routerLink]="['/contacto']">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
               class="mx-2 bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          </svg>
          Contactarme
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div>
        <img class="img-fluid foto_banner" src="assets/images/circulo-removebg-preview(1)-overlay.png">
      </div>
    </div>
  </div>
</div>

