<div class="administrar container">
<form>
  <p> ADMINISTRAR FORMULARIO "BANNER"</p>
  <div class="form-group">
    <label >NOMBRE Y APELLIDO</label>
    <input type="text" class="form-control" placeholder="Ingrese nombre y apellido">
  </div>
  <div class="form-group">
    <label >TITULO/PROFESIÓN</label>
    <input type="text" class="form-control" placeholder="Ingrese título/profesión">
  </div>
  <div class="form-group">
    <label >DESCRIPCIÓN</label>
    <input type="text" class="form-control" placeholder="Ingrese breve descripción">
  </div>
  <div class="form-group">
    <label >AGREGAR IMAGEN</label>
    <input type="text" class="form-control" placeholder="Ingrese imagen">
  </div>
  <button type="submit" class="btn btn-primary">ENVIAR</button>
</form>

<form>
  <p> ADMINISTRAR FORMULARIO "ACERCA DE MÍ"</p>
  <div class="form-group">
    <label >NOMBRE Y APELLIDO</label>
    <input type="text" class="form-control" placeholder="Ingrese nombre y apellido">
  </div>
  <div>
    <label >DESCRIPCIÓN</label>
    <input type="text" class="form-control" placeholder="Ingrese descripción">
  </div>
  <div class="form-group">
    <label >AGREGAR IMAGEN</label>
    <input type="text" class="form-control" placeholder="Ingrese imagen">
  </div>
  <button type="submit" class="btn btn-primary">ENVIAR</button>
</form>

  <form>
    <p> ADMINISTRAR FORMULARIO "ESTUDIOS"</p>
    <div class="form-group">
      <label >DATOS DE LA INSTITUCIÓN 1</label>
      <input type="text" class="form-control" placeholder="Datos de la institución">
    </div>
    <div class="form-group">
      <label >DATOS DE LA INSTITUCIÓN 2</label>
      <input type="text" class="form-control" placeholder="Datos de la institución">
    </div>
    <div class="form-group">
      <label >DATOS DE LA INSTITUCIÓN 2</label>
      <input type="text" class="form-control" placeholder="Datos de la institución">
    </div>
    <div class="form-group">
      <label >DATOS DE LA INSTITUCIÓN 4</label>
      <input type="text" class="form-control" placeholder="Datos de la institución">
    </div>
    <div>
      <label >TÍTULO OBTENIDO/CURSO</label>
      <input type="text" class="form-control" placeholder="Ingrese título/curso">
    </div>
    <div>
      <label >AÑO</label>
      <input type="text" class="form-control" placeholder="Año">
    </div>
    <div>
      <label >DURACIÓN</label>
      <input type="text" class="form-control" placeholder="Duración">
    </div>
    <div>
      <label >INSTRUCTOR</label>
      <input type="text" class="form-control" placeholder="Instructor">
    </div>
    <div class="form-group">
      <label >AGREGAR LOGO</label>
      <input type="text" class="form-control" placeholder="Agregar logo">
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
  </form>


  <form>
    <p> ADMINISTRAR FORMULARIO "EXPERIENCIA"</p>
    <div class="form-group">
      <label >NOMBRE DE LA EMPRESA</label>
      <input type="text" class="form-control" placeholder="Nombre de la empresa">
    </div>
    <div class="form-group">
      <label >DIRECCIÓN</label>
      <input type="text" class="form-control" placeholder="Dirección">
    </div>
    <div class="form-group">
      <label >TELÉFONO</label>
      <input type="text" class="form-control" placeholder="Teléfono">
    </div>
    <div class="form-group">
      <label >DURACIÓN</label>
      <input type="text" class="form-control" placeholder="Duración">
    </div>
    <div class="form-group">
      <label >FUNCIONES</label>
      <input type="text" class="form-control" placeholder="Funciones">
    </div>
    <div class="form-group">
      <label >AGREGAR LOGO/FOTO</label>
      <input type="text" class="form-control" placeholder="Agregar logo">
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
  </form>


  <form>
    <p> ADMINISTRAR FORMULARIO "PROYECTOS"</p>
    <div class="form-group">
      <label >NOMBRE DEL PROYECTO</label>
      <input type="text" class="form-control" placeholder="Nombre del proyecto">
    </div>
    <div class="form-group">
      <label >DESCRIPCIÓN</label>
      <input type="text" class="form-control" placeholder="Descripción">
    </div>
    <div class="form-group">
      <label >AGREGAR IMAGEN</label>
      <input type="text" class="form-control" placeholder="Agregar logo">
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
  </form>

</div>
