.administrar{
margin-top: 25px;
}
p {
  font-weight: bold;
  font-size: 20px;
  box-shadow: #9FD4CA 0 10px;
}
label{
  margin-bottom: 10px;
  margin-top: 10px;
}
button{
  margin-bottom: 35px;
}
.boton{
  background: #9fd4ca;
  border: 1px solid #9fd4ca;
  font-weight: bold;
  font-size: 17px;
}
.volver{
  background: #f8af75;
  border: 1px solid #f8af75;
  font-weight: bold;
}
